<html>
<head>
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
  <!--<link rel="stylesheet" href="../../static/css/bootstrap.min.css">-->
  <!--<script src="../../static/js/bootstrap.min.js"></script>-->
  <script src="../../static/js/adapter-latest.js"></script>
  <style type="text/css">
    .root {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;
      gap: 10px;
    }

    .focus {
      order: -1;
      flex-grow: 4;
    }

  </style>
</head>
<body>
  <div class="root">
    <h2 align=center>
        Play All cameras
    </h2>

    <div class="container">
      
      {{ range .suuidMap }}
      <div class="video-card">
        <video style="width:600px" id="videoElem-{{ . }}" autoplay muted controls></video>

        <div id="log-{{ . }}"></div>
      </div>
      {{ end }}
    </div>

    <input type="hidden" name="port" id="port" value="{{ .port }}">
    <input type="hidden" id="localSessionDescription" readonly="true">
    <input type="hidden" id="remoteSessionDescription">

    <a href="../" name="go back">Go back</a>
  </div>
  <script type="text/javascript" src="../../static/js/app_all.js?ver={{ .version }}"></script>
</body>
</html>
